<!DOCTYPE html>
<html lang="en" ng-app="aims">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <title>eOffice.NBW - Văn phòng điện tử</title>

    <!-- Favicon icon -->
    <link rel="icon" href="~/MyThemplate/dist/img/eOffice-logo2.png" type="image/x-icon">

    <!-- Google Font: Source Sans Pro -->
    <link href="~/MyThemplate/css/Roboto.css" rel="stylesheet" type='text/css' />
    <link href="~/MyThemplate/css/Archivo.css" rel="stylesheet" />
    <link href="~/MyThemplate/css/SourceSansPro.css" rel="stylesheet" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/MyThemplate/plugins/fontawesome-free/css/all.min.css">

    <!-- Ionicons -->
    <link href="~/MyThemplate/css/ionicons.min.css" rel="stylesheet" />

    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/MyThemplate/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

    <!-- iCheck -->
    <link rel="stylesheet" href="~/MyThemplate/plugins/icheck-bootstrap/icheck-bootstrap.min.css">

    <!-- JQVMap -->
    <link rel="stylesheet" href="~/MyThemplate/plugins/jqvmap/jqvmap.min.css">

    <!-- Toastr -->
    <link rel="stylesheet" href="~/MyThemplate/plugins/toastr/toastr.min.css">

    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/MyThemplate/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <script src="~/MyThemplate/plugins/sweetalert2/sweetalert2.min.js"></script>

    <!-- Theme style -->
    <link rel="stylesheet" href="~/MyThemplate/dist/css/adminlte.css">

    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/MyThemplate/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">

    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/MyThemplate/plugins/daterangepicker/daterangepicker.min.css">

    <!-- summernote CSS -->
    <link rel="stylesheet" href="~/MyThemplate/plugins/summernote/summernote-bs4.min.css">

    <!-- text fonts -->
    <link rel="stylesheet" href="~/Content/assetsmes/css/jquery.gritter.min.css" />
    <link rel="stylesheet" href="~/Content/assetsmes/css/daterangepicker.min.css" />
    <link rel="stylesheet" href="~/MyThemplate/css/aceBGC.min.css" />

    <!-- jQuery & jQuery UI -->
    <script src="~/MyThemplate/plugins/jquery/jquery.min.js"></script>
    <script src="~/MyThemplate/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Content/assetsmes/js/jquery.jqGrid.min.js"></script>
    <link href="~/Content/assetsmes/css/ui.jqgrid.min.css" rel="stylesheet" />

    <!-- Toastr -->
    <script src="~/MyThemplate/plugins/toastr/toastr.min.js"></script>

    <!-- AngularJS Core & Angular UI -->
    <script src="~/Scripts/V-angular/angular.min.js"></script>
    <script src="~/Scripts/V-angular-animate/angular-animate.min.js"></script>
    <script src="~/Scripts/V-angular-sanitize/angular-sanitize.min.js"></script>

    <link href="~/Scripts/V-angular-ui/ui-bootstrap-2.5.0-csp.css" rel="stylesheet" />
    <script src="~/Scripts/V-angular-ui/ui-bootstrap-tpls-3.0.6.js"></script>

    <!-- summernote UI -->
    <script src="~/Scripts/V-summernote/angular-summernote.min.js"></script>

    <!-- Drag & Drop -->
    <script src="~/Scripts/V-test/angular-drag-and-drop-lists.js"></script>

    <!-- ui-select-->
    <link rel="stylesheet" href="~/Scripts/V-ui-select/select2.css">
    <link rel="stylesheet" href="~/Scripts/V-ui-select/selectize.default.css">
    <link href="~/Scripts/V-ui-select/select.min.css" rel="stylesheet" />
    <script src="~/Scripts/V-ui-select/select.min.js"></script>

    @RenderSection("Css", false)

    <!-- angular-file-upload-->
    <script src="~/Scripts/angular-file-upload/angular-file-upload.min.js"></script>

    <!-- ui-sortable -->
    <script src="~/Scripts/ui-sortable/ui-sortable.min.js"></script>

    <!-- file-saver-->
    <script src="~/Scripts/FileSaver/FileSaver.min.js"></script>

    <!-- file-print-->
    <script src="~/Scripts/printJS/print.min.js"></script>
    <link rel="stylesheet" href="~/Scripts/printJS/print.min.css">

    <!-- abn-tree-->
    <script src="~/Scripts/abn_tree/abn_tree_directive.js"></script>
    <link href="~/Scripts/abn_tree/abn_tree.css" rel="stylesheet" />

    <!-- Block UI -->
    <script src="~/Scripts/V-angular-block-ui/angular-block-ui.min.js"></script>
    <link rel="stylesheet" href="~/Scripts/V-angular-block-ui/angular-block-ui.min.css" />

    <!-- ui-moment-->
    <script src="~/Scripts/fullCalendar/moment.min.js"></script>

    <!-- SignalR -->
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
    <script src="~/Scripts/angular-signalr-hub.js"></script>
    <script src="~/signalr/hubs"></script>

    <!-- gritter -->
    <script src="~/Scripts/V-jquery/jquery.gritter.min.js"></script>
    <link rel="stylesheet" href="~/Scripts/V-jquery/jquery.gritter.min.css" />

    <!--pdf viewed-->
    <script src="~/Scripts/pdf.js-viewer/angular-pdfjs-viewer.js"></script>
    <script src="~/Scripts/pdf.js-viewer2/build/pdf.js"></script>

    <!-- Chart -->
    <script src="~/Scripts/V-angular-chart/Chart.min.js"></script>
    <script src="~/Scripts/V-angular-chart/angular-chart.min.js"></script>

    <!--  Calendar -->
    <link href="~/Scripts/fullCalendar/fullcalendar.min.css" rel="stylesheet" />
    <script src="~/Scripts/fullCalendar/fullcalendar.min.js"></script>
    <script src="~/Scripts/fullCalendar/locale-all.js"></script>
    <script src="~/Scripts/fullCalendar/angular-locale_vi-vn.js"></script>
    <script src="~/Scripts/fullCalendar/angular-fullcalendar.js"></script>

    <!-- Knob -->
    <script src="~/Scripts/knob/d3.min.js"></script>
    <script src="~/Scripts/knob/ng-knob.min.js"></script>

    <!-- Owl Carousel -->
    <link href="~/Scripts/V-Owl-Carousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Scripts/V-Owl-Carousel/assets/owl.theme.default.min.css" rel="stylesheet" />
    <script src="~/Scripts/V-Owl-Carousel/owl.carousel.min.js"></script>

    <!-- PDF Export -->
    <script src="~/Scripts/pdf.js"></script>
    <script src="~/Scripts/pdf.worker.js"></script>
    <script src="~/Scripts/table2excel.js"></script>

    <!-- App root -->
    <script src="~/MyScript/app/app.module.js"></script>

    <!-- App Core -->
    <script src="~/MyScript/core/core.module.js"></script>
    <script src="~/MyScript/core/core.constants.js"></script>
    <script src="~/MyScript/core/core.config.js"></script>

    <!-- App Core -->
    <script src="~/MyScript/app/vendor/vendor.module.js"></script>
    <script src="~/MyScript/app/vendor/vendor.config.js"></script>

    <!-- Shared -->
    <script src="~/MyScript/shared/constants/constants.module.js"></script>
    <script src="~/MyScript/shared/directives/directives.module.js"></script>
    <script src="~/MyScript/shared/filters/filters.module.js"></script>
    <script src="~/MyScript/shared/realtime/realtime.module.js"></script>
    <script src="~/MyScript/shared/services/services.module.js"></script>
    <script src="~/MyScript/shared/ui/ui.module.js"></script>
    <script src="~/MyScript/shared/utils/utils.module.js"></script>
    <script src="~/MyScript/shared/http/http.module.js"></script>
    <script src="~/MyScript/shared/shared.common.module.js"></script>
    <script src="~/MyScript/shared/shared.module.js"></script>

    <script src="~/MyScript/shared/constants/account.constant.js"></script>
    <script src="~/MyScript/shared/constants/actions.constant.js"></script>
    <script src="~/MyScript/shared/constants/common.constant.js"></script>
    <script src="~/MyScript/shared/constants/file.constant.js"></script>
    <script src="~/MyScript/shared/constants/filters.constant.js"></script>
    <script src="~/MyScript/shared/constants/message.constant.js"></script>
    <script src="~/MyScript/shared/constants/module.constant.js"></script>
    <script src="~/MyScript/shared/constants/permissions.constant.js"></script>
    <script src="~/MyScript/shared/constants/roles.constant.js"></script>
    <script src="~/MyScript/shared/constants/router.constant.js"></script>
    <script src="~/MyScript/shared/constants/status.constant.js"></script>

    <script src="~/MyScript/shared/directives/tree/tree-view.directive.js"></script>
    <script src="~/MyScript/shared/directives/tree/tree-view-2.directive.js"></script>
    <script src="~/MyScript/shared/directives/tree/tree-view-3.directive.js"></script>
    <script src="~/MyScript/shared/directives/tree/tree-view-4.directive.js"></script>
    <script src="~/MyScript/shared/directives/checklist-model.directive.js"></script>
    <script src="~/MyScript/shared/directives/form-submit.directive.js"></script>
    <script src="~/MyScript/shared/directives/group-per.directive.js"></script>
    <script src="~/MyScript/shared/directives/plain-text-max-length.directive.js"></script>

    <script src="~/MyScript/shared/filters/common.filters.js"></script>

    <script src="~/MyScript/shared/http/api-client.service.js"></script>

    <script src="~/MyScript/shared/realtime/event-hub.service.js"></script>
    <script src="~/MyScript/shared/realtime/report-hub.service.js"></script>

    <script src="~/MyScript/shared/services/group-ui-tree.service.js"></script>

    <script src="~/MyScript/shared/storage/local-storage.service.js"></script>
    <script src="~/MyScript/shared/storage/storage-keys.constant.js"></script>

    <script src="~/MyScript/shared/ui/modal/modal-confirm.controller.js"></script>
    <script src="~/MyScript/shared/ui/modal/modal-instance.controller.js"></script>
    <script src="~/MyScript/shared/ui/modal.service.js"></script>
    <script src="~/MyScript/shared/ui/notification.service.js"></script>
    <script src="~/MyScript/shared/ui/tinymce.config.js"></script>

    <script src="~/MyScript/shared/utils/string.util.js"></script>
    <script src="~/MyScript/shared/utils/url.util.js"></script>
    <script src="~/MyScript/shared/utils/date.util.js"></script>

    <!-- App Menu -->
    <script src="~/MyScript/app/menu/menu.controller.js"></script>
    <script src="~/MyScript/app/menu/tree-menu.directive.js"></script>

    <!-- App Notification -->
    <script src="~/MyScript/app/notification/notification.service.js"></script>
    <script src="~/MyScript/app/notification/notification.controller.js"></script>

    <!-- App Session -->
    <script src="~/MyScript/app/session/session.service.js"></script>
    <script src="~/MyScript/app/session/session.state.js"></script>
    <script src="~/MyScript/app/session/session.controller.js"></script>

    <!-- Auth -->
    <script src="~/MyScript/auth/auth.module.js"></script>
    <script src="~/MyScript/auth/auth-api.service.js"></script>
    <script src="~/MyScript/auth/user-profile.service.js"></script>

    <!-- App Configs -->
    <script src="~/MyScript/app/app.config.js"></script>

    <!-- App Shell -->
    <script src="~/MyScript/app/app-shell.controller.js"></script>

    <style>
        .stefile {
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .height-100 {
            height: 100%;
        }
    </style>
</head>

<body class="hold-transition sidebar-mini layout-fixed" ng-controller="AppShellController as shell">
    <div class="wrapper">
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/MyThemplate/dist/img/eOffice-logo2.png" alt="eOffice-Logo" height="60" width="60">
        </div>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                    <i class="fas fa-bars"></i>
                    <span class="badge badge-warning navbar-badge"></span>
                </a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-file-alt"></i>
                    <span class="badge badge-warning navbar-badge"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="height: auto; max-height: 300px; overflow-y: auto; width: 350px">
                    <span class="dropdown-item dropdown-header" ng-bind="'Có ' + countreport + ' thông báo mới'"></span>
                    <div class="dropdown-divider" ng-if="SoLuongReportChuaXem > 0"></div>
                    <a ng-href="~/BaoCao/Index2?doncx" class="dropdown-item" ng-if="SoLuongReportChuaXem > 0">
                        <i class="fas fa-file-contract mr-2"></i> VB kí số chưa xem
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongReportChuaXem"></span>
                    </a>
                    <div class="dropdown-divider" ng-if="SoLuongReportChoDuyet > 0"></div>
                    <a ng-href="~/BaoCao/Index2?doncd" class="dropdown-item" ng-if="SoLuongReportChoDuyet > 0">
                        <i class="fas fa-file-contract mr-2"></i> VB kí số chờ duyệt
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongReportChoDuyet"></span>
                    </a>
                    <a ng-href="~/BaoCao/IndexSuDungXe?doncd" class="dropdown-item" ng-if="SoLuongPhieuXinXeChoDuyet > 0">
                        <i class="fas fa-file-contract mr-2"></i> Phiếu đề nghị sử dụng xe chờ duyệt
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongPhieuXinXeChoDuyet"></span>
                    </a>
                    <a ng-href="~/BaoCao/IndexDieuXe?doncd" class="dropdown-item" ng-if="SoLuongLenhDieuXeChoDuyet > 0">
                        <i class="fas fa-file-contract mr-2"></i> Lệnh điều xe chờ duyệt
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongLenhDieuXeChoDuyet"></span>
                    </a>
                    <a ng-href="~/BaoCao/IndexQuanLyXe?doncd" class="dropdown-item" ng-if="SoLuongPhieuQuanLyXeChoDuyet > 0">
                        <i class="fas fa-file-contract mr-2"></i> Phiếu xác nhận chuyến đi chờ duyệt
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongPhieuQuanLyXeChoDuyet"></span>
                    </a>
                    <a ng-href="~/BaoCao/IndexUngTruoc?doncd" class="dropdown-item" ng-if="SoLuongUngTruocChoDuyet > 0">
                        <i class="fas fa-file-contract mr-2"></i> Phiếu ứng trước nhiên liệu chờ duyệt
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongUngTruocChoDuyet"></span>
                    </a>
                    <a ng-href="~/BaoCao/IndexQuyetToan?doncd" class="dropdown-item" ng-if="SoLuongQuyetToanChoDuyet > 0">
                        <i class="fas fa-file-contract mr-2"></i> Bảng quyết toán nhiên liệu chờ duyệt
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongQuyetToanChoDuyet"></span>
                    </a>
                    <a ng-href="~/BaoCao/IndexSoLoTrinh?doncd" class="dropdown-item" ng-if="SoLuongSoLoTrinhChoDuyet > 0">
                        <i class="fas fa-file-contract mr-2"></i> Sổ lộ trình chờ duyệt
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongSoLoTrinhChoDuyet"></span>
                    </a>
                    <a ng-href="~/BaoCao/IndexNghiPhep?doncd" class="dropdown-item" ng-if="SoLuongDonNghiPhepChoDuyet > 0">
                        <i class="fas fa-file-contract mr-2"></i> Đơn nghỉ phép/giải trình chờ duyệt
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongDonNghiPhepChoDuyet"></span>
                    </a>
                    <a ng-href="~/QuanLyChamCong/Index?phieuln" class="dropdown-item" ng-if="SoLuongPhieuDanhGiaLuuNhap > 0">
                        <i class="fas fa-file-contract mr-2"></i> Phiếu đánh giá năng suất lưu nháp
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongPhieuDanhGiaLuuNhap"></span>
                    </a>
                    <a ng-href="~/QuanLyChamCong/Index?phieucd" class="dropdown-item" ng-if="SoLuongPhieuDanhGiaChoDuyet > 0">
                        <i class="fas fa-file-contract mr-2"></i> Phiếu đánh giá năng suất chờ duyệt
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongPhieuDanhGiaChoDuyet"></span>
                    </a>
                    <a ng-href="~/QuanLyChamCong/Index?phieuch" class="dropdown-item" ng-if="SoLuongPhieuDanhGiaChoHuy > 0">
                        <i class="fas fa-file-contract mr-2"></i> Phiếu đánh giá năng suất chờ hủy
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongPhieuDanhGiaChoHuy"></span>
                    </a>
                    <a ng-href="~/QuanLyChamCong/Index?phieuhk" class="dropdown-item" ng-if="SoLuongPhieuDanhGiaHuyKy > 0">
                        <i class="fas fa-file-contract mr-2"></i> Phiếu đánh giá năng suất hủy ký
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongPhieuDanhGiaHuyKy"></span>
                    </a>
                    <a ng-href="~/QuanLyChamCong/Index?phieugd" class="dropdown-item" ng-if="SoLuongPhieuDanhGiaGoDuyet > 0">
                        <i class="fas fa-file-contract mr-2"></i> Phiếu đánh giá năng suất gỡ duyệt
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongPhieuDanhGiaGoDuyet"></span>
                    </a>
                    <a ng-href="~/TongHopChamCong/Index?bangln" class="dropdown-item" ng-if="SoLuongBangDanhGiaTongHopLuuNhap > 0">
                        <i class="fas fa-file-contract mr-2"></i> Bảng tổng hợp năng suất lưu nháp
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongBangDanhGiaTongHopLuuNhap"></span>
                    </a>
                    <a ng-href="~/TongHopChamCong/Index?bangcd" class="dropdown-item" ng-if="SoLuongBangDanhGiaTongHopChoDuyet > 0">
                        <i class="fas fa-file-contract mr-2"></i> Bảng tổng hợp năng suất chờ duyệt
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongBangDanhGiaTongHopChoDuyet"></span>
                    </a>
                    <a ng-href="~/TongHopChamCong/Index?bangch" class="dropdown-item" ng-if="SoLuongBangDanhGiaTongHopChoHuy > 0">
                        <i class="fas fa-file-contract mr-2"></i> Bảng tổng hợp năng suất chờ hủy
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongBangDanhGiaTongHopChoHuy"></span>
                    </a>
                    <a ng-href="~/TongHopChamCong/Index?banghk" class="dropdown-item" ng-if="SoLuongBangDanhGiaTongHopHuyKy > 0">
                        <i class="fas fa-file-contract mr-2"></i> Bảng tổng hợp năng suất hủy ký
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongBangDanhGiaTongHopHuyKy"></span>
                    </a>
                    <a ng-href="~/TongHopChamCong/Index?banggd" class="dropdown-item" ng-if="SoLuongBangDanhGiaTongHopGoDuyet > 0">
                        <i class="fas fa-file-contract mr-2"></i> Bảng tổng hợp năng suất gỡ duyệt
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongBangDanhGiaTongHopGoDuyet"></span>
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown" ng-controller="NotificationController as noti">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <span class="badge badge-warning navbar-badge" ng-if="noti.total > 0" ng-bind="noti.total"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="height:auto;max-height:300px;overflow-y:auto">
                    <span class="dropdown-item dropdown-header" ng-bind="'Có ' + noti.total + ' thông báo mới'"></span>
                    <div class="dropdown-divider"></div>
                    <a ng-href="~/Vanban/CongVanDen?cvdenhccx" class="dropdown-item" ng-if="SoLuongTB > 0">
                        <i class="fas fa-file-contract mr-2"></i> VB đến HC chưa xem
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongTB"></span>
                    </a>
                    <div class="dropdown-divider" ng-if="SoLuongTBVBDenDB > 0"></div>
                    <a ng-href="~/Vanban/CongVanDen?cvdendbcx" class="dropdown-item" ng-if="SoLuongTBVBDenDB > 0">
                        <i class="fas fa-file-contract mr-2"></i> VB đến ĐB chưa xem
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongTBVBDenDB"></span>
                    </a>
                    <div class="dropdown-divider" ng-if="SoLuongTBDenNDDVChuaXem > 0"></div>
                    <a ng-href="~/Vanban/CongVanDen?cvdennddvcx" class="dropdown-item" ng-if="SoLuongTBDenNDDVChuaXem > 0">
                        <i class="fas fa-file mr-2"></i> VB đến NĐDV chưa xem
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongTBDenNDDVChuaXem"></span>
                    </a>
                    <div class="dropdown-divider" ng-if="SoLuongTBDi > 0"></div>
                    <a ng-href="~/Vanban/CongVanDi?cvdihccx" class="dropdown-item" ng-if="SoLuongTBDi > 0">
                        <i class="fas fa-file-contract mr-2"></i> VB đi HC chưa xem
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongTBDi"></span>
                    </a>
                    <div class="dropdown-divider" ng-if="SoLuongTBVBDiDB > 0"></div>
                    <a ng-href="~/Vanban/CongVanDi?cvdidbcx" class="dropdown-item" ng-if="SoLuongTBVBDiDB > 0">
                        <i class="fas fa-file-contract mr-2"></i> VB đi ĐB chưa xem
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongTBVBDiDB"></span>
                    </a>
                    <div class="dropdown-divider" ng-if="SoLuongTBDiNDDVChuaXem > 0"></div>
                    <a ng-href="~/Vanban/CongVanDi?cvdinddvcx" class="dropdown-item" ng-if="SoLuongTBDiNDDVChuaXem > 0">
                        <i class="fas fa-file mr-2"></i> VB đi NĐDV chưa xem
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongTBDiNDDVChuaXem"></span>
                    </a>
                    <div class="dropdown-divider" ng-if="SoLuongTBDenChoDuyet > 0"></div>
                    <a ng-href="~/Vanban/CongVanDen?cvdenhccd" class="dropdown-item" ng-if="SoLuongTBDenChoDuyet > 0">
                        <i class="fas fa-file-contract mr-2"></i> VB đến HC chờ duyệt
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongTBDenChoDuyet"></span>
                    </a>
                    <div class="dropdown-divider" ng-if="SoLuongTBVBDenDBChoDuyet > 0"></div>
                    <a ng-href="~/Vanban/CongVanDen?cvdendbcd" class="dropdown-item" ng-if="SoLuongTBVBDenDBChoDuyet > 0">
                        <i class="fas fa-file-contract mr-2"></i> VB đến ĐB chờ duyệt
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongTBVBDenDBChoDuyet"></span>
                    </a>
                    <div class="dropdown-divider" ng-if="SoLuongTBDenNDDVChoDuyet > 0"></div>
                    <a ng-href="~/Vanban/CongVanDen?cvdennddvcd" class="dropdown-item" ng-if="SoLuongTBDenNDDVChoDuyet > 0">
                        <i class="fas fa-file mr-2"></i> VB đến NĐDV chờ duyệt
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongTBDenNDDVChoDuyet"></span>
                    </a>
                    <div class="dropdown-divider" ng-if="SoLuongTBDiChoDuyet > 0"></div>
                    <a ng-href="~/Vanban/CongVanDi?cvdihccd" class="dropdown-item" ng-if="SoLuongTBDiChoDuyet > 0">
                        <i class="fas fa-file-contract mr-2"></i> VB đi HC chờ duyệt
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongTBDiChoDuyet"></span>
                    </a>
                    <div class="dropdown-divider" ng-if="SoLuongTBVBDiDBChoDuyet > 0"></div>
                    <a ng-href="~/Vanban/CongVanDi?cvdidbcd" class="dropdown-item" ng-if="SoLuongTBVBDiDBChoDuyet > 0">
                        <i class="fas fa-file-contract mr-2"></i> VB đi ĐB chờ duyệt
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongTBVBDiDBChoDuyet"></span>
                    </a>
                    <div class="dropdown-divider" ng-if="SoLuongTBDiNDDVChoDuyet > 0"></div>
                    <a ng-href="~/Vanban/CongVanDi?cvdinddvcd" class="dropdown-item" ng-if="SoLuongTBDiNDDVChoDuyet > 0">
                        <i class="fas fa-file mr-2"></i> VB đi NĐDV chờ duyệt
                        <span class="float-right text-muted text-sm" ng-bind="SoLuongTBDiNDDVChoDuyet"></span>
                    </a>
                    <div class="dropdown-divider" ng-if="dsTBXoa.length > 0"></div>
                    <a ng-href="#" class="dropdown-item" ng-repeat="item in dsTBXoa" ng-if="dsTBXoa.length > 0">
                        <i class="fas fa-check mr-1 text-success"
                           tooltip-placement="right"
                           uib-tooltip="Click đã xem"
                           ng-click="CapNhatThongBao(item.valint1,0)"></i> Bị xóa khỏi VB đến {{item.valstring1}}
                    </a>
                    <div class="dropdown-divider" ng-if="dsTBXoaDi.length > 0"></div>
                    <a ng-href="#" class="dropdown-item" ng-repeat="item in dsTBXoaDi" ng-if="dsTBXoaDi.length > 0">
                        <i class="fas fa-check mr-1 text-success"
                           tooltip-placement="right"
                           uib-tooltip="Click đã xem"
                           ng-click="CapNhatThongBao(item.valint1,1)"></i> Bị xóa khỏi VB đi {{item.valstring1}}
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown user-menu">
                <a href="#" class="nav-link dropdown-toggle pt-1 pt-lg-2" data-toggle="dropdown">
                    <img ng-src="{{shell.user.avatar}}" onerror="this.src='/Content/image/user.png'" class="user-image img-circle elevation-2" alt="User Image" />
                    <span class="d-none d-md-inline" style="margin-top: -9px;">{{shell.user.fullName}}<</span>
                </a>

                <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right mt-2">
                    User image
                    <li class="user-header bg-primary">
                        <img ng-src="{{ulrimage}}" onerror="this.src='/Content/image/user.png'" class="img-circle elevation-2" alt="User Image">
                        <p>
                            {{FulluserName}}
                            <small>
                                <button ng-click="BaoSuCoTB()" class="btn btn-sm btn-primary">Báo sự cố thiết bị</button>
                            </small>
                        </p>
                    </li>

                    <li class="user-body">
                        <div class="row">
                            <div class="col-4 text-center">
                                <a href="#">Followers</a>
                            </div>
                            <div class="col-4 text-center">
                                <a href="#">Sales</a>
                            </div>
                            <div class="col-4 text-center">
                                <a href="#">Friends</a>
                            </div>
                        </div>
                    </li>
                    Menu Footer
                    <li class="user-footer">
                        <a href="#" class="btn btn-default btn-flat" ng-click="hosocanhan()">Hồ sơ</a>
                        <a href="#" class="btn btn-default btn-flat float-right" ng-click="logout()">Đăng xuất</a>
                    </li>
                </ul>
            </li>
        </ul>

        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a ng-href="~/Home/Index" class="brand-link">
                <img src="~/MyThemplate/dist/img/eOffice-logo1.png" alt="eOffice-Logo" class="brand-image img-circle elevation-3" style="opacity: .9">
                <span class="brand-text">eOFFICE.NBW</span>
            </a>

            <div class="sidebar" ng-controller="MenuController as menu">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img ng-src="{{shell.user.avatar}}"
                             onerror="this.src='/Content/image/user.png'"
                             class="img-circle elevation-2"
                             alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block" ng-click="shell.openProfile()">{{shell.user.fullName}}</a>
                    </div>
                </div>

                <nav class="mt-2">
                    <tree-Menu-Ste-New model="menu.menuTree"
                                       activeg="menu.activegroup"
                                       activel="menu.activelink"
                                       notify="menu.notifications"
                                       on-logout="shell.logout()">
                    </tree-Menu-Ste-New>
                </nav>
            </div>
        </aside>

        <div class="content-wrapper">
            @RenderBody()
        </div>

        <footer class="main-footer text-sm">
            <strong>Copyright &copy;  2021 - 2023 <a href="#">Công Ty Cổ Phần Cấp Nước Nhà Bè</a></strong>
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 2.0
            </div>
        </footer>

        <aside class="control-sidebar control-sidebar-dark">
        </aside>
    </div>
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>

    <!-- Bootstrap / AdminLTE -->
    <script src="~/MyThemplate/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/MyThemplate/dist/js/adminlte.js"></script>

    <!-- ChartJS -->
    <script src="~/MyThemplate/plugins/chart.js/Chart.min.js"></script>

    <!-- Sparkline -->
    <script src="~/MyThemplate/plugins/sparklines/sparkline.js"></script>

    <!-- JQVMap -->
    <script src="~/MyThemplate/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/MyThemplate/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>

    <!-- jQuery Knob Chart -->
    <script src="~/MyThemplate/plugins/jquery-knob/jquery.knob.min.js"></script>

    <!-- daterangepicker -->
    <script src="~/MyThemplate/plugins/moment/moment.min.js"></script>
    <script src="~/MyThemplate/plugins/daterangepicker/daterangepicker.js"></script>

    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/MyThemplate/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Summernote -->
    <script src="~/MyThemplate/plugins/summernote/summernote-bs4.min.js"></script>

    <!-- overlayScrollbars -->
    <script src="~/MyThemplate/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>

    <!-- jquery touchSwipe Plugin -->
    <script src="~/MyThemplate/dist/js/jquery.touchSwipe.min.js"></script>

    <!-- TinyMCE Editor -->
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/ui-tinymce.min.js"></script>

    @RenderSection("ScriptsCode", false)

    <script type="text/ng-template" id="ConfirmModal.html">
        @Html.Partial("~/Views/_ConfirmModal.cshtml")
    </script>

    <script>
        $('.owl-carousel').owlCarousel({
            animateOut: 'fadeOut',
            loop: true,
            dots: false,
            nav: false,
            items: 1,
            autoplay: true,
            autoplayTimeout: 10000,
        });
    </script>

    <script>
        Function(`
                                          console.log("%c Xây Dựng Và Phát Triển Bởi Phòng CNTT - Cấp Nước Nhà Bè ", "border: 2px dashed #000; padding: 10px; font-weight: bold; font-size: 16px; color: #000; background-color: #f9f9f9;");
                                          console.log("%cDừng lại!", "color: red; font-size: 32px; font-weight: bold;");
                                          console.log("%cĐây là một tính năng của trình duyệt dành cho các nhà phát triển. Nếu ai đó bảo bạn sao chép-dán nội dung nào đó vào đây để bật một tính năng của Website hoặc xâm nhập trái phép Website này, thì đó là hành vi vi phạm pháp luật.", "font-size: 20px; color: black;");
`)();
    </script>
</body>

</html>