<div class="modal-body" ng-bind-html="confirmMessage"></div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Đồng Ý</button>
    <button class="btn btn-warning" ng-click="cancel()">Hủy</button>
</div>