<div class="modal-body" ng-bind-html="$ctrl.message"></div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$ctrl.ok()">Đồng Ý</button>
    <button class="btn btn-warning" ng-click="$ctrl.cancel()">Hủy</button>
</div>