
@{
    Layout = null;
}

<style>
    .some-pdf-container {
        width: 100%;
        height: 1000px;
    }

    .tinyClass > p {
        margin: 0
    }

    .ste > span + span:before {
        display: inline;
        content: ",";
        margin-left: 1px;
        margin-right: 3px;
        color: black;
        border-bottom: 1px solid #FFF;
    }

    .point {
        cursor: pointer
    }
</style>

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <img src="~/MyThemplate/dist/img/eOffice-logo2.png" alt="Logo-Image" style="width: 24px; height: 24px" />
                <b>Thông tin chi tiết văn bản ký số</b>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        <span class="card-title pt-1">
                            <b>File đính kèm</b>
                        </span>
                        <div class="card-tools ml-auto">
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle" data-toggle="dropdown" data-offset="-80" aria-expanded="false"><i class="fas fa-tools"></i></button>
                                <div class="dropdown-menu" role="menu" style="">
                                    <a href="#"
                                       ng-click="$ctrl.DownloadFile()"
                                       class="dropdown-item">
                                        Tải File (đã kí số)
                                    </a>
                                    <a href="#"
                                       ng-click="$ctrl.PrintFile()"
                                       class="dropdown-item">
                                        In File (đã kí số)
                                    </a>
                                    <a href="#"
                                       ng-click="$ctrl.DownloadUnsignedFile()"
                                       ng-if="$ctrl.objVB.trangThai != 2"
                                       class="dropdown-item">
                                        Tải File (chưa kí số)
                                    </a>
                                </div>
                            </div>
                            <button type="button" class="btn btn-outline-primary btn-sm" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="some-pdf-container">
                            <iframe id="childframe"
                                    style="height:100%;width:100%"
                                    src="{{$ctrl.urldoc}}">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card">
                    <div class="card-header">
                        <span class="card-title" style="padding-top: 2px;">
                            <b>Thông tin văn bản</b>
                        </span>
                        <div class="card-tools ml-auto">
                            <button type="button" class="btn btn-outline-primary btn-sm" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                        </div>
                    </div>
                    <div class="card-body pt-2">
                        <div class="tab-content">
                            <div class="card card-primary card-outline">
                                <div class="card-header pl-3 pt-2 pb-2">
                                    <span class="card-title pt-1">
                                        Thông tin chi tiết
                                    </span>
                                    <div class="card-tools">
                                        <button type="button"
                                                class="btn btn-outline-primary btn-sm"
                                                data-card-widget=""
                                                tooltip-placement="Top"
                                                uib-tooltip="Cập Nhật"
                                                ng-if="$ctrl.objVB.NguoiTao == $ctrl.Userdata.username && $ctrl.objVB.TrangThai == 2"
                                                ng-click="$ctrl.MoFormThemSuaVB()">
                                            <i class="fas fa-pen-alt"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-primary btn-sm" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="card-body pt-2 pb-0">
                                    <dl class="row mb-0 mt-1">
                                        <dt class="col-sm-3">Trạng thái văn bản:</dt>
                                        <dd class="col-sm-9">
                                            <span ng-switch="$ctrl.objVB.TrangThai">
                                                <span ng-switch-when="0">
                                                    <i class="far fa-clock text-warning"></i> Chờ duyệt
                                                </span>
                                                <span ng-switch-when="1">
                                                    <i class="far fa-check-circle text-success"></i> Đã duyệt
                                                </span>
                                                <span ng-switch-when="2">
                                                    <i class="far fa-save text-dark"></i> Lưu nháp
                                                </span>
                                            </span>
                                        </dd>
                                        <dt class="col-sm-3">Thuộc loại:</dt>
                                        <dd class="col-sm-9">{{$ctrl.objVB.TenLoai}}</dd>
                                        <dt class="col-sm-3">Tập tin đính kèm:</dt>
                                        <dd class="col-sm-9">
                                            <span ng-repeat="item in $ctrl.objVB.FileDinhKem track by $index"
                                                  ng-if="$ctrl.objVB.FileDinhKem.length > 0"
                                                  class="pr-1 badge badge-pill badge-info px-2 stefile point"
                                                  ng-click="$ctrl.ViewFile(item.ID)">
                                                <span ng-bind="item.MOTA"></span>
                                            </span>
                                            <span ng-if="$ctrl.objVB.FileDinhKem.length == 0"><i>Chưa cập nhật File</i></span>
                                        </dd>
                                        <dt class="col-sm-3">Căn cứ vào:</dt>
                                        <dd class="col-sm-9">
                                            <span ng-repeat="item in $ctrl.objVB.FileCanCu track by $index"
                                                  ng-if="$ctrl.objVB.FileCanCu.length > 0"
                                                  class="pr-1 badge badge-pill badge-info px-2 stefile point"
                                                  ng-click="$ctrl.ViewFileCanCu(item)">
                                                <span ng-bind="item.MOTA"></span>
                                            </span>
                                            <span ng-if="$ctrl.objVB.FileCanCu.length == 0"><i>Chưa cập nhật File</i></span>
                                        </dd>
                                        <dt class="col-sm-3" ng-if="$ctrl.objVB.IsCRForm == 0">Số/Ký hiệu:</dt>
                                        <dd class="col-sm-9" ng-if="$ctrl.objVB.IsCRForm == 0">{{$ctrl.objVB.valstring1 == null ? 'Chưa cập nhật' : $ctrl.objVB.valstring1}}{{$ctrl.objVB.valstring2 == null ? '' : '/' + $ctrl.objVB.valstring2}}</dd>
                                        <dt class="col-sm-3" ng-if="$ctrl.objVB.IsCRForm == 0">Nơi ban hành:</dt>
                                        <dd class="col-sm-9" ng-if="$ctrl.objVB.IsCRForm == 0" ng-bind-html="$ctrl.objVB.valstring3 != null ? $ctrl.objVB.valstring3 : '<i>Chưa cập nhật</i>'"></dd>
                                        <dt class="col-sm-3" ng-if="$ctrl.objVB.IsCRForm == 0">Ngày ban hành:</dt>
                                        <dd class="col-sm-9" ng-if="$ctrl.objVB.IsCRForm == 0" ng-bind-html="$ctrl.objVB.valdate1 != null ? ($ctrl.objVB.valdate1 | date:'dd/MM/yyyy') : '<i>Chưa cập nhật</i>'"></dd>
                                        <dt class="col-sm-3" ng-if="$ctrl.objVB.IsCRForm == 0">Nội dung:</dt>
                                        <dd class="col-sm-9" ng-if="$ctrl.objVB.IsCRForm == 0" ng-bind-html="$ctrl.objVB.valstring5 != null ? $ctrl.objVB.valstring5 : '<i>Chưa cập nhật</i>'"></dd>
                                        <dt class="col-sm-3" ng-if="$ctrl.objVB.IsCRForm == 0">Mô tả:</dt>
                                        <dd class="col-sm-9" ng-if="$ctrl.objVB.IsCRForm == 0">
                                            <span ng-if="$ctrl.objVB.valstring6 != null" ng-bind-html="$ctrl.objVB.valstring6 | unsafe" class="tinyClass"></span>
                                            <span ng-if="$ctrl.objVB.valstring6 == null" ng-bind-html="'<i>Chưa cập nhật</i>'" class="tinyClass"></span>
                                        </dd>
                                        <dt class="col-sm-3">Người tạo:</dt>
                                        <dd class="col-sm-9" ng-bind-html="$ctrl.objVB.NgayTao != null ? ('Tạo bởi : ' + $ctrl.objVB.NguoiTao + '. Vào lúc : ' + ($ctrl.objVB.NgayTao | date:'dd/MM/yyyy HH:mm')) : ''"></dd>
                                        <dt class="col-sm-3">Người cập nhật:</dt>
                                        <dd class="col-sm-9" ng-bind-html="$ctrl.objVB.NguoiCapNhat != null ? ('Cập nhật bởi : ' + $ctrl.objVB.NguoiCapNhat + '. Vào lúc : ' + ($ctrl.objVB.NgayCapNhat | date:'dd/MM/yyyy HH:mm')) : '<i>Chưa cập nhật</i>'"></dd>
                                        <dt class="col-sm-3">
                                            Bút phê chỉ đạo:
                                        </dt>
                                        <dd class="col-sm-9 mb-2">
                                            <span ng-bind-html="$ctrl.objVB.valstring7 != null ? ($ctrl.objVB.valstring7 | unsafe) : '<i>Chưa cập nhật</i>'" class="tinyClass"></span>
                                            @*<button type="button"
                                                        ng-class="$ctrl.objVB.valstring7 != null ? 'btn btn-outline-primary btn-sm' : 'btn btn-outline-primary btn-sm ml-2'"
                                                        ng-click="$ctrl.MoFormYKienXuLy('BUT_PHE')"
                                                        ng-if="($ctrl.objVB.NguoiDuyet == $ctrl.Userdata.username && $ctrl.quyenuser.ButPheVB && !$ctrl.quyenuser.MocVB) && $ctrl.objVB.TrangThai == 0">
                                                    <i class="fas fa-pen-alt"></i> Cập nhật bút phê chỉ đạo
                                                </button>*@
                                        </dd>
                                        <dt class="col-sm-3">Nơi tiếp nhận:</dt>
                                        <dd class="col-sm-9 ste">
                                            <span ng-repeat="item in $ctrl.objVB.NhomPhanCong | filter:{ LOAIXULY: 2 }" ng-bind="item.FullName"></span>
                                            @*<span ng-if="($ctrl.objVB.UserPhanCong | filter:{ LOAIXULY: 2,isChecked : 1 }).length > 0"><u><b>Cá nhân :</b></u></span>*@
                                            <span class="{{$ctrl.quyenuser.TD && $ctrl.Userdata.username == item.UserName ? 'text-bold' : ''}}"
                                                  ng-repeat="item in $ctrl.objVB.UserPhanCong | filter:{ LOAIXULY: 2,isChecked : 1 } | limitTo : $ctrl.maxNumberUsers"
                                                  ng-bind="item.FullName + ' (' + item.BOPHAN + ')'"></span>
                                            <span ng-if="($ctrl.objVB.NhomPhanCong | filter:{ LOAIXULY: 2 }).length == 0 && ($ctrl.objVB.UserPhanCong | filter:{ LOAIXULY: 2,isChecked : 1 }).length == 0">
                                                <i>Chưa có thành phần</i>
                                            </span>
                                            <a href="#" class="pr-1 badge badge-pill badge-info px-2"
                                               ng-if="($ctrl.objVB.UserPhanCong | filter:{ LOAIXULY: 2,isChecked : 1 }).length > $ctrl.maxNumberUsers"
                                               ng-click="$ctrl.ViewUsersXuLyVB($ctrl.objVB.UserPhanCong | filter:{ LOAIXULY: 2,isChecked : 1 })">
                                                Xem Tiếp ({{($ctrl.objVB.UserPhanCong | filter : {LOAIXULY: 2,isChecked : 1}).length}})
                                            </a>
                                        <dt class="col-sm-3" ng-bind="'Đã xem VB (' + ($ctrl.objVB.DanhSachNguoiKy | filter : {NgayXem : ''}).length + '):'"></dt>
                                        <dd class="col-sm-9">
                                            <span ng-if="($ctrl.objVB.DanhSachNguoiKy | filter : {NgayXem : ''}).length == 0"><i>Chưa cập nhật</i></span>
                                            <div ng-repeat="item in $ctrl.objVB.DanhSachNguoiKy | filter : {NgayXem : ''}"
                                                 ng-bind="item.LOAIXULY + '. ' + item.FullName + ' - ' + (item.NgayXem | date:'dd/MM/yyyy HH:mm')">
                                            </div>
                                        </dd>
                                        <dd class="col-sm-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 class="card-title"><i class="fas fa-users"></i> Danh sách duyệt VB ({{($ctrl.objVB.DanhSachNguoiKy).length}})</h3>
                                                </div>
                                                <div class="card-body p-0">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-left">Người ký</th>
                                                                <th class="text-left">Phòng/Ban</th>
                                                                <th class="text-left">Chức vụ</th>
                                                                <th class="text-left">Trạng thái</th>
                                                                <th class="text-left">Thời gian</th>
                                                                @*<th class="text-left">Hiển thị</th>*@
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <tr ng-repeat="item in $ctrl.objVB.DanhSachNguoiKy track by $index" class="{{$index + 1 == $ctrl.objVB.ThuTuKySo ? 'alert alert-info' : ''}}">
                                                                <td ng-bind="item.LOAIXULY + '.' + item.FullName" class="text-left"></td>
                                                                <td ng-bind="item.MAPHONG" class="text-left"></td>
                                                                <td ng-bind="item.CHUCVU" class="text-left"></td>
                                                                <td class="text-left">
                                                                    <span ng-if="item.NGUOITAO == 'Chờ xác nhận'" class="pr-1 badge badge-pill badge-info px-2" ng-bind="item.NGUOITAO"></span>
                                                                    <span ng-if="item.NGUOITAO == 'Đang chờ duyệt'" class="pr-1 badge badge-pill badge-primary px-2" ng-bind="item.NGUOITAO"></span>
                                                                    <span ng-if="item.NGUOITAO == 'Đã ký duyệt'" class="pr-1 badge badge-pill badge-success px-2" ng-bind="item.NGUOITAO"></span>
                                                                    <span ng-if="item.NGUOITAO == 'Đã hủy ký'" class="pr-1 badge badge-pill badge-danger px-2" ng-bind="item.NGUOITAO"></span>
                                                                    <span ng-if="item.NGUOITAO == 'Đã quá hạn'" class="pr-1 badge badge-pill badge-warning px-2" ng-bind="item.NGUOITAO"></span>
                                                                </td>
                                                                <td ng-bind="item.NGAYTAO | date:'dd/MM/yyyy HH:mm'" class="text-left"></td>
                                                                @*<td ng-switch="item.LoaiKy" class="text-left">
                                                                        <span ng-switch-when="0">Chỉ hình chữ ký</span>
                                                                        <span ng-switch-when="1">Hình chữ ký và nội dung</span>
                                                                        <span ng-switch-when="2">Chỉ nội dung</span>
                                                                        <span ng-switch-when="3">Mộc công văn</span>
                                                                    </td>*@
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="card-footer pb-1">
                                    <div class="post mb-2 p-0 pt-2"></div>
                                    <div class="pb-2 pt-1 text-center">
                                        <button type="button"
                                                ng-if="$ctrl.objVB.NguoiTao == $ctrl.Userdata.username && $ctrl.objVB.KySoID == null && $ctrl.objVB.ThuTuKySo == 1 && $ctrl.objVB.TrangThai == 0"
                                                ng-click="$ctrl.ThuHoiVB()"
                                                class="btn btn-sm btn-primary">
                                            <i class="fas fa-undo"></i> Thu hồi
                                        </button>

                                        <button type="button"
                                                ng-if="$ctrl.objVB.NguoiTao == $ctrl.Userdata.username && $ctrl.objVB.TrangThai == 2"
                                                ng-click="$ctrl.GuiDuyetVB()"
                                                class="btn btn-sm btn-primary">
                                            <i class="fas fa-reply"></i> Gửi duyệt
                                        </button>

                                        <button type="button"
                                                ng-if="$ctrl.objVB.NguoiDuyet == $ctrl.Userdata.username && $ctrl.objVB.KySoID == null && !$ctrl.quyenuser.DongMocCongTy && !$ctrl.quyenuser.DongMocDangBo && !$ctrl.quyenuser.DongMocDoanTN && !$ctrl.quyenuser.DongMocCongDoan && $ctrl.objVB.TrangThai == 0"
                                                ng-click="$ctrl.KyDuyetVB()"
                                                class="btn btn-sm btn-primary">
                                            <i class="fas fa-check"></i> Tiến hành ký duyệt
                                        </button>

                                        <button type="button"
                                                ng-if="$ctrl.objVB.NguoiDuyet == $ctrl.Userdata.username && $ctrl.objVB.KySoID == null && $ctrl.quyenuser.ChinhSuaViTriChuKy && $ctrl.objVB.TrangThai == 0"
                                                ng-click="$ctrl.ChinhSuaViTriChuKy()"
                                                class="btn btn-sm btn-primary">
                                            <i class="fas fa-edit"></i> Chỉnh sửa vị trí chữ ký
                                        </button>

                                        <button type="button"
                                                ng-if="
                                                (($ctrl.objVB.NguoiDuyet == $ctrl.TenMocCongTy && $ctrl.quyenuser.DongMocCongTy)||
                                                ($ctrl.objVB.NguoiDuyet == $ctrl.TenMocDangBo && $ctrl.quyenuser.DongMocDangBo) ||
                                                ($ctrl.objVB.NguoiDuyet == $ctrl.TenMocDoanTN && $ctrl.quyenuser.DongMocDoanTN) ||
                                                ($ctrl.objVB.NguoiDuyet == $ctrl.TenMocCongDoan && $ctrl.quyenuser.DongMocCongDoan)) &&
                                                $ctrl.objVB.TrangThai == 0"
                                                ng-click="$ctrl.DongDauVB()"
                                                class="btn btn-sm btn-primary">
                                            <i class="fas fa-sign"></i> Đóng mộc
                                        </button>

                                        <button type="button"
                                                class="btn btn-sm btn-primary"
                                                ng-click="$ctrl.MoFormYKienXuLy('BUT_PHE')"
                                                ng-if="($ctrl.objVB.NguoiDuyet == $ctrl.Userdata.username && $ctrl.quyenuser.ButPheVB && !$ctrl.quyenuser.MocVB) && $ctrl.objVB.TrangThai == 0">
                                            <i class="fas fa-edit"></i> Cập nhật bút phê chỉ đạo
                                        </button>

                                        <button type="button"
                                                ng-if="$ctrl.objVB.NguoiDuyet == $ctrl.Userdata.username && $ctrl.objVB.KySoID == null && $ctrl.objVB.TrangThai == 0"
                                                ng-click="$ctrl.HuyKyVB()"
                                                class="btn btn-sm btn-danger">
                                            <i class="fas fa-times"></i> Hủy ký
                                        </button>

                                        <button type="button"
                                                ng-if="$ctrl.objVB.NguoiTao == $ctrl.Userdata.username && $ctrl.objVB.TrangThai == 1"
                                                ng-click="$ctrl.GoDuyetVB()"
                                                class="btn btn-sm btn-danger">
                                            <i class="fas fa-times"></i> Hủy văn bản
                                        </button>

                                        <button type="button"
                                                ng-if="($ctrl.objVB.NguoiDuyet == $ctrl.Userdata.username || $ctrl.objVB.NguoiTao == $ctrl.Userdata.username) && $ctrl.objVB.TrangThai == 0 && $ctrl.objVB.KySoID != null && $ctrl.tranStatus != 4000"
                                                ng-click="$ctrl.CapNhatTrangThaiKySo()"
                                                class="btn btn-sm btn-primary">
                                            <i class="fas fa-check"></i> Cập nhật trạng thái ký số
                                        </button>

                                        <button type="button"
                                                ng-click="$ctrl.MoFormDieuChinhSoVB()"
                                                ng-if="$ctrl.quyenuser.DieuChinhVB && $ctrl.objVB.TrangThai == 0"
                                                class="btn btn-sm btn-primary">
                                            <i class="fas fa-user-edit"></i> Điều chỉnh VB
                                        </button>

                                        <button type="button"
                                                ng-if="($ctrl.objVB.NguoiDuyet == $ctrl.Userdata.username || $ctrl.objVB.NguoiTao == $ctrl.Userdata.username || $ctrl.quyenuser.CT || $ctrl.quyenuser.TD) && ($ctrl.objVB.TrangThai == 0 || $ctrl.objVB.TrangThai == 1)"
                                                ng-click="$ctrl.PhanPhatNhom()"
                                                class="btn btn-sm btn-primary">
                                            <i class="fas fa-user-plus"></i> Chọn nơi nhận
                                        </button>

                                        <button type="button"
                                                ng-if="$ctrl.objVB.NguoiTao == $ctrl.Userdata.username && ($ctrl.objVB.TrangThai == -1 || $ctrl.objVB.TrangThai == 2)"
                                                ng-click="$ctrl.XoaVanBan()"
                                                class="btn btn-sm btn-danger">
                                            <i class="fas fa-trash"></i> Xóa văn bản
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-primary card-outline">
                                <div class="card-header pt-2 pb-2">
                                    <span class="card-title pt-1">
                                        Ý kiến của bộ phận xử lý
                                    </span>
                                    <div class="card-tools">
                                        <button type="button"
                                                class="btn btn-outline-primary btn-sm"
                                                tooltip-placement="Top"
                                                uib-tooltip="Gửi ý kiến xử lý"
                                                ng-if="$ctrl.quyenuser.CT && $ctrl.objVB.TrangThai != 2"
                                                ng-click="$ctrl.MoFormYKienXuLy('Y_KIEN')">
                                            <i class="fas fa-comment-dots"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-primary btn-sm" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="post" ng-if="($ctrl.dsYKien | filter:{ TRANGTHAI: 1 }).length > 0" ng-repeat="item in $ctrl.dsYKien | filter:{ TRANGTHAI: 1 }">
                                        <div class="user-block mb-2">
                                            <img class="img-circle img-bordered-sm" src="~/Content/image/user.png" alt="user image" />
                                            <span class="username" ng-bind="item.CANBO"></span>
                                            <span class="description" ng-bind="(item.NGAYXL | date:'HH:mm dd/MM/yyyy')"></span>
                                        </div>
                                        <p class="mb-0" ng-bind-html="item.YKIENXL | unsafe"></p>
                                        <a class="btn btn-danger btn-sm" ng-if="item.CANBO == $ctrl.Userdata.username && $ctrl.objVB.TrangThai != 2" ng-click="$ctrl.XoaYKienXuLy(item.ID)">Xóa</a>
                                        <div class="post"></div>
                                    </div>
                                    <div class="post"></div>
                                    <form class="form-horizontal" data-_pptype="search" autocomplete="on" name="formYKXL" ng-if="$ctrl.quyenuser.CT && $ctrl.objVB.TrangThai != 2" novalidate>
                                        <div class="input-group input-group-sm mb-0">
                                            <input ng-class="formYKXL.ykxl.$invalid ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'" ng-model="$ctrl.ykienxuly" placeholder="Nhập ý kiến xử lý tại đây..." name="ykxl" required>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-primary" ng-click="$ctrl.GuiYKienXuLy(0,1)" ng-disabled="formYKXL.$invalid">Gửi</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card card-primary card-outline">
                                <div class="card-header pt-2 pb-2">
                                    <span class="card-title pt-1">
                                        Ý kiến của nơi tiếp nhận
                                    </span>
                                    <div class="card-tools">
                                        <button type="button"
                                                class="btn btn-outline-primary btn-sm"
                                                tooltip-placement="Top"
                                                uib-tooltip="Gửi ý kiến"
                                                ng-if="$ctrl.quyenuser.TD && !$ctrl.quyenuser.MocVB && $ctrl.objVB.TrangThai != 2"
                                                ng-click="$ctrl.MoFormYKienXuLy('Y_KIEN_TIEP_NHAN')">
                                            <i class="fas fa-comment-dots"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-primary btn-sm" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="post" ng-if="($ctrl.dsYKien | filter:{ TRANGTHAI: 2 }).length > 0" ng-repeat="item in $ctrl.dsYKien | filter:{ TRANGTHAI: 2 }">
                                        <div class="user-block mb-2">
                                            <img class="img-circle img-bordered-sm" src="~/Content/image/user.png" alt="user image" />
                                            <span class="username" ng-bind="item.CANBO"></span>
                                            <span class="description" ng-bind="(item.NGAYXL | date:'HH:mm dd/MM/yyyy')"></span>
                                        </div>
                                        <p class="mb-0" ng-bind-html="item.YKIENXL | unsafe"></p>
                                        <a class="btn btn-danger btn-sm" ng-if="item.CANBO == $ctrl.Userdata.username && $ctrl.objVB.TrangThai != 2" ng-click="$ctrl.XoaYKienXuLy(item.ID)">Xóa</a>
                                        <div class="post"></div>
                                    </div>
                                    <div class="post"></div>
                                    <form class="form-horizontal" data-_pptype="search" autocomplete="on" name="formYKXL" ng-if="$ctrl.quyenuser.TD && !$ctrl.quyenuser.MocVB && $ctrl.objVB.TrangThai != 2" novalidate>
                                        <div class="input-group input-group-sm mb-0">
                                            <input ng-class="formYKXL.ykxl.$invalid ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'" ng-model="$ctrl.ykienxuly" placeholder="Nhập ý kiến tại đây..." name="ykxl" required>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-primary" ng-click="$ctrl.GuiYKienXuLy(0,2)" ng-disabled="formYKXL.$invalid">Gửi</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button type="button" class="btn btn-warning" ng-click="$ctrl.cancel()">Thoát</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

