@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" ng-app="aims.login">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eOffice.NBW - Đăng nhập</title>

    <!-- ================= CSS ================= -->
    <!-- Favicon icon -->
    <link rel="icon" href="~/MyThemplate/dist/img/eOffice-logo2.png" type="image/x-icon">

    <!-- Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Archivo:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900" rel="stylesheet" type="text/css" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/MyThemplate/plugins/fontawesome-free/css/all.min.css" />

    <!-- AdminLTE -->
    <link rel="stylesheet" href="~/MyThemplate/dist/css/adminlte.css" />

    <!-- Block UI -->
    <link rel="stylesheet" href="~/Scripts/V-angular-block-ui/angular-block-ui.min.css" />

    <!-- ================= JS CORE ================= -->
    <!-- jQuery -->
    <script src="~/Scripts/V-jquery/jquery-2.1.4.min.js"></script>

    <!-- Angular core -->
    <script src="~/Scripts/V-angular/angular.min.js"></script>
    <script src="~/Scripts/V-angular-animate/angular-animate.min.js"></script>
    <script src="~/Scripts/V-angular-sanitize/angular-sanitize.min.js"></script>

    <!-- UI Bootstrap -->
    <script src="~/Scripts/V-angular-ui/ui-bootstrap-tpls-3.0.6.js"></script>

    <!-- Block UI -->
    <script src="~/Scripts/V-angular-block-ui/angular-block-ui.min.js"></script>

    <!-- ================= CORE ================= -->
    <script src="~/MyScript/core/core.module.js"></script>
    <script src="~/MyScript/app/app.config.js"></script>

    <!-- ========== SHARED LOWEST LEVEL ========== -->
    <script src="~/MyScript/shared/http/http.module.js"></script>
    <script src="~/MyScript/shared/utils/utils.module.js"></script>
    <script src="~/MyScript/shared/constants/constants.module.js"></script>

    <!-- ========== SHARED IMPLEMENTATION ========== -->
    <script src="~/MyScript/shared/constants/account.constant.js"></script>
    <script src="~/MyScript/shared/utils/url.util.js"></script>
    <script src="~/MyScript/shared/http/api-client.service.js"></script>

    <!-- ========== SHARED COMPOSITION ========== -->
    <script src="~/MyScript/shared/shared.common.module.js"></script>

    <!-- ================= AUTH ================= -->
    <script src="~/MyScript/auth/auth.module.js"></script>
    <script src="~/MyScript/auth/auth-api.service.js"></script>
    <script src="~/MyScript/auth/user-profile.service.js"></script>

    <!-- ================= LOGIN ================= -->
    <script src="~/MyScript/app/session/login/login.module.js"></script>
    <script src="~/MyScript/app/session/login/login.controller.js"></script>

    <!-- ================= STYLE ================= -->
    <style>
        body.login-page {
            background: url("/Content/image/background/9e8800640a9bc1c5988a.jpg") no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>

<body class="hold-transition login-page" ng-controller="LoginController as vm">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <h4>Đăng nhập <b>eOffice.NBW</b></h4>
            </div>

            <div class="card-body">
                <p class="login-box-msg">Thông tin tài khoản đăng nhập</p>
                <form ng-submit="vm.login()">
                    <div class="input-group mb-3">
                        <input type="text"
                               class="form-control"
                               placeholder="Tên tài khoản"
                               ng-model="vm.userName"
                               required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user-alt"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="password"
                               class="form-control"
                               placeholder="Mật khẩu"
                               ng-model="vm.password"
                               required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <button type="submit"
                            class="btn btn-primary btn-block"
                            ng-disabled="vm.loading">
                        Đăng nhập
                    </button>

                    <p class="text-danger mt-2" ng-if="vm.error">
                        {{vm.error}}
                    </p>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap -->
    <script src="~/MyThemplate/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/MyThemplate/dist/js/adminlte.min.js"></script>
</body>
</html>